body {background-color: #b8faff

}

#first {
	border: 5px
}
    
#second {
	border: 5px
}
    
#third {
    border: 5px
}
#fourth {
    border: 5px
}
#fifth {
    border: 5px
}
#sixth {
   border: 5px
}
.right {
	background-color: #ffddb8

}
.left{
	background-color: #ffb9b8

}
